body {
  margin: 0;
  min-height: 100vh;
  font-family: "Lobster", cursive;
  text-align: center;
  background: rgba(0, 0, 0, 0.639);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 30%;
  }
  30% {
    background-position: 50%;
  }
  50% {
    background-position: 40%;
  }
  100% {
    background-position: 30%;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(68, 35, 35, 0.442);
}
.play-cards {
  position: relative;
  height: 80px;
  left: 0px;
  margin: 20px;
  background-color: black;
}
.upload-files {
  position: relative;
  height: 80px;
  left: 0px;
  margin: 20px;
}

header {
  background: black;
  color: white;
  height: 40%;
  width: 100%;
  margin: 0;
  padding: 20px 50px;
  mix-blend-mode: multiply;
}
footer {
  margin-top: auto;
  color: white;
  background: #000;
  font-size: 12px;
  padding: 25px;
  position: sticky;
}
footer {
  padding: 57px;
}
